deta==1.1.0
matplotlib==3.6.0
matplotlib-inline==0.1.6
numpy==1.23.4
pandas==1.5.1
pipenv==2022.10.12
pipreqs==0.4.11
plotly==5.10.0
pybase64==1.2.3
python-dateutil==2.8.2
PyYAML==6.0
regex==2022.10.31
requests==2.28.1
streamlit==1.14.0
ujson==5.5.0
urllib3==1.26.12
virtualenv==20.16.5
virtualenv-clone==0.5.7

